body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#container {
    width: 760px;
    height: 760px;
    border: solid black;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.unit {
    margin: 0px;
    padding: 0px;
    border: solid black;
    background-color: rgb(255, 255, 255);
}

.black-bc {
    background: black;
}