body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 800px;
    height: 800px;
    border: solid black;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.unit {
    margin: 0px;
    padding: 0px;
    border: solid black;
}

.black-bc {
    background: black;
}